.post-scroller-wrap {
    padding: 30px;
    color: #FFFFFF;
    background: rgba(0,0,0,.1);
}

.tp-caption.color-full {
    position: absolute;
    right: 0;
    bottom: 110px;
    width: 380px;
    background-color: rgba(255,255,255,0.8);
    white-space: normal;
    padding: 29px 40px 33px;
    z-index: 9999;
}

.parallax1 {
    background-color: #F3F3F3;
    background-image: none;
}

.flat-university .post .title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    color: #222222;
    margin-bottom: 80px;
    line-height: 1.5;
}


.flat-university .box-university .title-box h4 {
    color: #222;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.flat-university .box-university .title-box p {
    color: #222;
    font-size: 14px;
    text-align: center;
}

.read-more-button {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px 20px;
    transition: all .2s;
    border-radius: 3px;
    border: solid 2px #fff;
    background-color: #179bd7;
    color: #fff;
    text-align: center;
}

.read-more-button:hover {
    color: #343434;
    background-color: #fff;
    border-color: #333;
}

.blog-single .post .entry-box {
    margin-bottom: 80px;
}

.blog-single .post .post-content .title {
    font-size: 24px;
    color: #343434;
    margin-bottom: 60px;
}

.contact-title {
    font-size: 36px;
}

.errorlist li {
    color: darkred;
}

.post-contact .contact-form input[type="text"], .post-contact .contact-form input[type="email"],
.post-contact .contact-form input[type="password"] {
    width: 100%;
}

.line-box {
   border-bottom: 1px solid #eaeaea;
    margin-bottom: 35px;
    padding-top: 30px;
}

.login-title {
    font-size: 36px;
}

.spacer-small {
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-results {
    font-family: "Bitter", sans-serif;
    font-size: 28px;
    color: #fff;
    margin-bottom: 20px;
}

.search-description {
    font-family: "Bitter", sans-serif;
    font-size: 14px;
    color: #222;
    margin-bottom: 20px;
    font-style: italic;
}

#mainnav > ul > li > a {
    position: relative;
    display: block;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    padding: 30px 40px 0 15px;
    outline: none;
    text-transform: uppercase;
}

/* hide arrows */
.tp-leftarrow.square, .tp-rightarrow.square {
    position: absolute;
    top: 704px;
    text-align: center;
    z-index: -999;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.page-title.parallax1 {
    padding-top: 150px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
}


.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  color: #fff;
  background-color: #179bd7;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
  font-size: 36px;
  text-transform: uppercase;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 670px;
    margin: 140px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

.modal-body .rich-text h2 {
  font-size: 24px;
  text-align: center;
}

.modal-title {
  text-align: center;
}

@media (max-width: 1000px){
  .hide-sidebar {
    visibility: hidden;
  }
}


.news-title {
  font-size: 18px;
}
#news-detail-title {
  font-size: 40px;
}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
    color: #222;
}

.pagination {
  font-size: 15px;
}
.step-links {
  text-align: center;
}
