{% extends "base-column.html" %}
{% load staticfiles wagtailcore_tags wagtailimages_tags tyndale_tags %}

{% block column-9-content %}
<article class="post">
    <div class="entry-wrapper">
        <div class="entry-box">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/{{ page.video_url }}" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="post-content">
            <h2 class="title">{{ page.course_name }}</h2>
            {{ page.course_description | richtext }}
        </div>

        <div class="about-author">
            <div class="row">
                <div class="col-md-6">
                    <div class="author-avatar">
                        {% image page.professor.profile_image width-200 %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item-content">
                        <div class="item-meta blog-item-meta">
                            <a href="{{ page.professor.link }}">
                                <h4>By - {{ page.professor.name }}</h4>
                            </a>
                            <span>{{ page.upload_date }} <span class="sep">|</span> </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="simple-navigation">
            <div class="row">
                <div class="simple-navigation-item col-md-6 col-sm-6 col-xs-6 main-color-1-bg-hover ">
                    {% with parent_url=self.get_ancestors.last %}
                    <a class="maincolor2hover" href="{% pageurl parent_url %}">
                        <i class="fa fa-angle-left pull-left"></i>
                        <div class="simple-navigation-item-content">
                            <span>Back</span>
                            <h4>Back to List</h4>
                        </div>
                    </a>
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</article>

{% endblock %}
