{% extends "base-column.html" %}
{% load staticfiles wagtailcore_tags wagtailimages_tags tyndale_tags %}

{% block column-9-content %}
<article class="post">
    <div class="entry-wrapper">
        <div class="entry-box">
            <iframe width="640" height="360" src="{{ page.video_url }}" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="post-content">
            <h2 class="title">{{ page.course_name }}</h2>
            {{ page.course_description | richtext }}
        </div>

        <div class="content-pad">
            <div class="item-content">
                <div class="item-meta blog-item-meta">
                    <span>By <span class="sep">|</span> </span>
                    <span>{{ page.upload_date }} <span class="sep">|</span> </span>
                </div>
            </div>
        </div>

        <div class="about-author">
            <div class="author-avatar">
                <img src="{% static 'images/member/1.png' %}" alt="image">
            </div>
            <div class="author-info">
                <h4></h4>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="simple-navigation">
            <div class="row">
                <div class="simple-navigation-item col-md-6 col-sm-6 col-xs-6 main-color-1-bg-hover ">
                    <a class="maincolor2hover">
                        <i class="fa fa-angle-left pull-left"></i>
                        <div class="simple-navigation-item-content">
                            <span>Previous</span>
                            <h4>University Ranking</h4>
                        </div>
                    </a>
                </div>

                <div class="simple-navigation-item col-md-6 col-sm-6 col-xs-6 main-color-1-bg-hover ">
                    <a class="maincolor2hover pull-right">
                        <i class="fa fa-angle-right pull-right"></i>
                        <div class="simple-navigation-item-content">
                            <span>Next</span>
                            <h4>Your Career Starts Here</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</article>

{% endblock %}