{% extends "base.html" %}
{% load staticfiles i18n wagtailcore_tags wagtailimages_tags %}

{% block body_class %}{% endblock %}

{% block content %}
        <div class="tp-banner-container">
            <div class="tp-banner" >
                <ul>
                    <li data-transition="slidedown" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
                        {% image page.slider_image_1 width-1920 as slider_image_1 %}
                        <img src="{{ slider_image_1.url }}" alt="slider-image">
                        <!--
                        <div class="tp-caption sft desc-slide center color-white color-full" data-x="770" data-y="479" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut">
                            <div class="title main-color-1 font-2"> </div>
                            <div class="content">The Fundamental Reformed Theology base school preparing student to serve Christ and His church</div>
                        </div>
                          -->
                    </li>

                    <li data-transition="slidedown" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
                        {% image page.slider_image_2 width-1920 as slider_image_2 %}
                        <img src="{{ slider_image_2.url }}" alt="slider-image">
                        <!--
                        <div class="tp-caption sft desc-slide center color-white color-full" data-x="770" data-y="479" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut">
                            <div class="title main-color-1 font-2">{{ page.slider_banner_title_2 }}</div>
                            <div class="content">{{ page.slider_banner_description_2 }}</div>
                        </div>
                        -->
                    </li>
                </ul>
            </div>
        </div> <!-- /.tp-banner-container -->

        <div class="header-overlay-content header-overlay-scroller">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <section class="un-post-scroller un-post-scroller-2901 " data-delay="0">
                            <div class="section-inner-no-padding">
                                <div class="post-scroller-wrap">
                                    <div class="post-scroller-carousel" data-next=".post-scroller-down" data-prev=".post-scroller-up">
                                        <div class="post-scroller-carousel-inner">
                                            {% for message in page.slider_message.all %}

                                                <div class="item post-scroller-item">
                                                    <div class="scroller-item-inner">
                                                        <div class="scroller-item-content post-item-mini">
                                                            <div class="row">
                                                                <div class="col-md-4 col-sm-4 col-xs-4 post-thumbnail-mini">
                                                                    <div class="item-thumbnail">
                                                                        <a href="#">
                                                                            {% image message.message.image width-150 %}
                                                                            <div class="thumbnail-hoverlay main-color-1-bg"></div>
                                                                            <div class="thumbnail-hoverlay-cross"></div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-8 col-sm-8 col-xs-8 post-content-mini">
                                                                    <h4><a class="post-title-mini main-color-1-hover" href="#" title="{{ message.message.title }}">{{ message.message.title }}</a></h4>
                                                                    <div class="post-excerpt-mini">{{ message.message.message | richtext }}</div>
                                                                </div>
                                                            </div>
                                                        </div><!--/post-item-mini-->
                                                    </div>
                                                </div><!--/post-scroller-item-->

                                            {% endfor %}

                                    <div class="post-scroller-control">
                                        <span class="post-scroller-button-wrap">
                                            <a class="btn btn-primary post-scroller-button post-scroller-down" href="#"><i class="fa fa-angle-down"></i></a>
                                            <a class="btn btn-primary post-scroller-button post-scroller-up" href="#"> <i class="fa fa-angle-up"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div><!--/section-inner-->
                        </section><!--/u-post-carousel-->
                    </div>
                </div>
            </div>
        </div>

        <section class="flat-row no-padding">
            <div class="flat-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post">
                                <h1 class="title">{{ page.about_tiu_title }}</h1>
                                <p>{{ page.about_tiu_description | richtext }}</p>
                                <a class="flat-button button-button_30 btn-default " href="/about" data-delay="0">Read more <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="post">
                                <h1 class="title">{{ page.state_mission_title }}</h1>
                                <p>{{ page.state_mission_description | richtext }}</p>
                                <a class="flat-button button-button_30 btn-default " href="/about/statement-mission" data-delay="0">Read more <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="post">
                                <h1 class="title">{{ page.state_faith_title }}</h1>
                                <p>{{ page.state_faith_description | richtext }}</p>
                                <a class="flat-button button-button_30 btn-default " href="/about/statement-faith" data-delay="0">Read more <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div><!--/row-->
                </div><!--/flat-fluid-->
            </div><!--/container-->
        </section><!--/flat-row -->

        <div class="page-title parallax parallax1">
            <div class="container">
                <div class="flat-university">
                    <div class="post">
                        <h1 class="title">{{ page.our_mission_title }}</h1>
                    </div><!--/post -->

                    <div class="box-university">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="item-post">
                                    <div class="content-box">
                                        {% image page.president_image width-342 as president_image %}
                                        <img src="{{ president_image.url }}" alt="image">
                                    </div>
                                    <div class="title-box">
                                        <h4>{{ page.president_title }}</h4>
                                        {{ page.president_message | richtext }}
                                    </div>
                                     <a class="read-more-button" href="/about/presidents-welcome" data-delay="0">Read more <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="item-post">
                                    <div class="content-box">
                                        {% image page.chairman_image width-342 as chairman_image %}
                                        <img src="{{ chairman_image.url }}" alt="image">
                                    </div>
                                    <div class="title-box">
                                        <h4>{{ page.chairman_title }}</h4>
                                        {{ page.chairman_message | richtext }}
                                    </div>
                                     <a class="read-more-button" href="/about/chairmans-welcome" data-delay="0">Read more <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="item-post">
                                    <div class="content-box">
                                        {% image page.tyndale_image width-342 as tyndale_image %}
                                        <img src="{{ tyndale_image.url }}" alt="image">
                                    </div>
                                    <div class="title-box">
                                        <h4>{{ page.tyndale_title }}</h4>
                                        {{ page.tyndale_message | richtext }}
                                    </div>
                                     <a class="read-more-button" href="/about" data-delay="0">Read more <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item-post">
                                    <div class="content-box">
                                        {% image page.yala_image width-342 as yala_image %}
                                        <img src="{{ yala_image.url }}" alt="image">
                                    </div>
                                    <div class="title-box">
                                        <h4>{{ page.yala_title }}</h4>
                                        {{ page.yala_message | richtext }}

                                    </div>
                                    <a class="read-more-button" href="http://yalamission.com/yalamission/index.php" data-delay="0">Read more <i class="fa fa-angle-right"></i></a>

                                </div>
                            </div>
                        </div>
                    </div><!--/box-university -->


                </div><!--/flat-university -->
            </div><!--/container -->
        </div><!--/page-title -->

        <section class="flat-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="flat-events">
                            <div class="grid-item color-full">
                                <div class="event-item">
                                    <div class="grid-item-content">
                                        <h1 class="title">{{ page.grid_title }}</h1>
                                        <p>{{ page.grid_subtitle }}</p>
                                        <a class="flat-button" href="{{ page.grid_link_page.url }}">{% trans "See All" %}<i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>

                            {% for academic in academics %}
                                <div class="grid-item">
                                    <div class="grid-item-inner">
                                        <div class="event-item">
                                            <div class="event-thumbnail">
                                                <a href="#">{% image academic.academic_image width-500 %}
                                                </a>
                                            </div><!-- /event-thumbnail -->

                                            <div class="date-block">
                                                <div class="month">{{ academic.start_date }}</div>
                                            </div><!-- /date-block -->

                                            <div class="event-overlay">
                                                <div class="cs-post-header">
                                                    <div class="cs-category-links">
                                                        <a class="overlay-top" href="{% pageurl academic %}">
                                                            <h4>{{ academic.academic_name }}</h4>
                                                        </a>

                                                        <div class="overlay-footer">
                                                            <div>{% trans "Duration" %} : {{ academic.duration }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- /event-overlay -->
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="flat-row full-color">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="flat-reviews">
                            <div class="flat-causes">
                                <div class="featured-causes" data-item="3" data-nav="false"
                                    data-dots="false" data-auto="false">

                                    {% for quote in page.home_quote.all %}
                                        <div class="item">
                                            <div class="text">
                                                <p>{{ quote.quote.quote_message | richtext }}</p>
                                            </div>

                                            <div class="title-testimonial">
                                                <div class="thumb-title">
                                                    {% image quote.quote.quote_profile_image width-50 %}
                                                </div>
                                                <div class="post-title">
                                                    <h6 class="title-post">{{ quote.quote.quote_speaker }}</h6>
                                                    <span>{{ quote.quote.quote_speaker_title }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% empty %}
                                        <h1>No Quotes</h1>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /flat-row -->

        <!-- Modal -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h2 class="modal-title">{{ page.popup.title}}</h2>
                </div>
                <div class="modal-body">
                  {{ page.popup.content | richtext }}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
          </div>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
    $(document).ready(function(){

      $("#myModal").modal('show');

  });
    </script>
{% endblock %}
