{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
        <section class="main-content contact-posts">
            <div class="container">
                <div class="row">
                    <div class="post-contact">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="contact-form">
                                    <div class="line-box"></div>
                                        <h1 class="login-title">{% trans "Profile Update" %}</h1>
                                        <div class="line-box"></div>
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        {{ form.as_p }}

                                        <div class="submit-wrap">
                                            <button class="flat-button button-style style-v1" type="submit">{% trans "Update" %}</button>
                                        </div>
                                    </form>
                                </div><!-- contact-form -->
                            </div><!-- col-md-6 -->

                            <div class="col-md-6">
                                <div class="container">
                                <div class="line-box"></div>
                                    <div class="row">

                                    </div>
                                </div><!-- /container-fluid -->
                            </div>
                        </div><!-- /row-->
                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock %}