{% load staticfiles i18n wagtailcore_tags wagtailimages_tags tyndale_tags %}

{% for child in children %}
    {% with child=child.specific %}
    <div class="event-listing event-listing-classic">
        <article class="post-item row event-classic-item">
            <div class="col-md-4 col-sm-5">
                <div class="content-pad">
                    <div class="item-thumbnail">
                        <a href="{% pageurl child %}">
                            {% image child.academic_image width-265 as image %}
                            <img src="{{ image.url }}" alt="image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-7">
                <div class="content-pad">
                    <div class="item-content">
                        <h3 class="item-title">
                            <a href="{% pageurl child %}" class="main-color-1-hover">{{ child.academic_name }}</a>
                        </h3>
                        {{ child.academic_description | richtext | truncatewords:50 }}
                    </div>
                    <div class="item-meta">
                        <a class="flat-button" href="#">DETAILS  <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </article>
    </div><!--/event-listing-->
    {% endwith %}
{% endfor %}

