{% load wagtailcore_tags %}
<div class="page-title full-color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h2 class="title">{{ current_page.title }}</h2>
                </div>
                <div class="breadcrumbs">
                    <ul>
                        {% for ancestor in ancestors %}
                            {% if ancestor.title == "TIU" %}
                            <li class="home"><a href="/">Home </a></li>
                            {% else %}
                            <li class="home">
                                <a href="{% pageurl ancestor %}">/ {{ ancestor.title }}</a>
                            </li>
                            {% endif %}
                        {% endfor %}
                        <li class="home"><a href="{% pageurl current_page %}">/ {{ current_page.title }} </a></li>
                    </ul>
                </div>
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /page-title -->