{% load tyndale_tags wagtailcore_tags staticfiles %}

<footer class="footer full-color">
    <section id="bottom">
        <div class="section-inner">
            <div class="container">
                <div class="row normal-sidebar">

                    <div class=" widget divider-widget">
                        <div class=" widget-inner">
                            <div class="un-heading un-separator">
                                <div class="un-heading-wrap">
                                    <span class="un-heading-line un-heading-before">
                                        <span></span>
                                    </span>
                                    <span class="un-heading-line un-heading-after">
                                        <span></span>
                                    </span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>

                    {% get_site_root as site_root %}
                    {% display_footer_menu parent=site_root calling_page=self %}

                    <div class=" col-md-2 border widget widget-text">
                        <div class=" widget-inner">
                            <h2 class="widget-title maincolor1">CONTACT</h2>
                            <div class="textwidget">
                                <p>Email: tiu@gmail.com<br>
                                Address: 4270 6th St Los Angeles, CA 90020</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <div id="bottom-nav">
        <div class="container">
            <div class="link-center">
                <div class="line-under"></div>
                <a class="flat-button go-top-v1 style1" href="#top">TOP</a>
            </div>
            <div class="row footer-content">
                <div class="copyright col-md-6">
                    © 2017 Tyndale International University - All rights reserved.
                </div>
            </div><!--/row-->
        </div><!--/container-->
    </div>
</footer>