{% load i18n staticfiles tyndale_tags wagtailcore_tags wagtailimages_tags %}

<div class="menu-hover">
    <div class="btn-menu">
        <span></span>
    </div><!-- //mobile menu button -->
</div>

<div class="header-inner-pages">
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar menu-top">
                        <ul class="menu">
                            <li class="home">
                                <a href="{% url 'account_signup' %}">{% trans "Register" %}</a>
                            </li>
                            {% if request.user.is_authenticated %}
                                <li><a href="{% url 'users:detail' request.user.username %}">{% trans "Profile" %}</a>
                                    <ul class="submenu">
                                        <li><a href="{% url 'users:update' %}">{% trans "Edit Profile" %}</a></li>
                                        <li><a href="{% url 'account_logout' %}">{% trans "Log out" %}</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li><a href="{% url 'account_login' %}">{% trans "Login" %}</a></li>
                            {% endif %}
                        </ul><!-- /.menu -->
                    </nav><!-- /.mainnav -->

                    <a class="navbar-right search-toggle show-search" href="#">
                        <i class="fa fa-search"></i>
                    </a>

                    <div class="submenu top-search">
                        <form class="search-form" action="{% url 'search' %}" method="get">
                            <div class="input-group">
                                <input type="search" class="search-field" placeholder="Search Here" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
                                <span class="input-group-btn">
                                    <button type="submit"><i class="fa fa-search fa-4x"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div><!-- col-md-12 -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- Top -->
</div><!-- header-inner-pages -->

<!-- Header -->
<header id="header" class="header">
    <div class="header-wrap">
        <div class="container">
            <div class="header-wrap clearfix">
                <div id="logo" class="logo">
                    <a href="/" rel="home">
                        <img src="{% static 'images/tyndale-logo-white.svg' %}" alt="image">
                    </a>
                </div><!-- /.logo -->


                <div class="nav-wrap">

                    <nav id="mainnav" class="mainnav">
                        <ul class="menu">
                            {% for menu in menuitems %}
                                <li>
                                    <a href="{% pageurl menu %}">{{ menu.title }} </a>
                                    {% if menu.has_children %}
                                        <ul class="submenu">
                                        {% for child in menu.get_children %}
                                            <li><a href="{% pageurl child %}">{{ child.title }}</a></li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul><!-- /.menu -->
                    </nav><!-- /.mainnav -->
                </div><!-- /.nav-wrap -->
            </div><!-- /.header-wrap -->
        </div><!-- /.container-->
    </div><!-- /.header-wrap-->
</header><!-- /.header -->

