{% extends "base.html" %}
{% load staticfiles i18n wagtailcore_tags wagtailimages_tags tyndale_tags %}

{% block body_class %}{% endblock %}



{% block content %}
    {% display_breadcrumbs calling_page=self %}
    <!-- Blog posts -->
    <section class="{% block section-name %}main-content blog-single{% endblock %}">
            <div class="container">
                <div class="{% block div-name %}  {% endblock %}">
                    <div class="row">
                    <div class="{% block div-name-2 %}post-wrap{% endblock %}">

                        <div class="col-md-9">
                            {% block column-9-content %}

                            {% endblock %}
                        </div><!-- /col-md-9 -->
                        {% block column-3-content %}
                            <div class="col-md-3 hide-sidebar">
                            <div class="sidebar">
                                {% display_sidemenu calling_page=self %}

                                {% block latest_post %}
                                    {% display_latest_post %}
                                {% endblock %}

                                {% block course_list %}

                                {% endblock %}

                            </div><!-- sidebar -->
                        </div><!-- /col-md-3 -->
                        {% endblock %}
                    </div>
                </div>
                </div>
            </div>
        </section>
{% endblock %}
