{% load staticfiles wagtailuserbar tyndale_tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <!-- Bootstrap  -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" >

        <!-- Theme Style -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

        <!-- Responsive -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">

        <!-- Colors -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/colors/color1.css' %}" id="colors">

        <!-- Animation Style -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">

        <!-- Favicon and touch icons  -->
        <link href="{% static 'icon/TYNDALE_32x32px.png' %}" rel="apple-touch-icon-precomposed">
        <link href="{% static 'icon/TYNDALE_32x32px.png' %}" rel="shortcut icon">

        <link rel="stylesheet" type="text/css" href="{% static 'css/tyndale.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
        {% block googlemap %}

        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %} header-sticky">
        <div class="boxed">


        {% wagtailuserbar %}

        {% get_site_root as site_root %}
        {% display_navbar parent=site_root calling_page=self %}
        {% block content %}

        {% endblock %}

        {% display_footer calling_page=self %}
        {# Global javascript #}
        <!-- Javascript -->
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.easing.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/owl.carousel.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/parallax.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-waypoints.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.tweet.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.matchHeight-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-validate.js' %}"></script>

        <!-- Revolution Slider -->
        <script type="text/javascript" src="{% static 'js/jquery.themepunch.tools.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.themepunch.revolution.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/slider.js' %}"></script>


        <script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/tyndale.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
        </div>
    </body>
</html>
