{% extends "base.html" %}
{% load staticfiles i18n wagtailcore_tags wagtailimages_tags tyndale_tags %}

{% block body_class %}{% endblock %}



{% block content %}
    {% display_breadcrumbs calling_page=self %}
    <!-- Blog posts -->
    <section class="{% block section-name %}main-content blog-single{% endblock %}">
            <div class="container">
                <div class="{% block div-name %}  {% endblock %}">
                    <div class="row">
                    <div class="{% block div-name-2 %}post-wrap{% endblock %}">

                        <div class="col-md-9">
                            {% block column-9-content %}

                            {% endblock %}
                        </div><!-- /col-md-9 -->
                        {% block column-3-content %}
                            <div class="col-md-3">
                            <div class="sidebar">
                                {% display_sidemenu calling_page=self %}

                                {% block latest_post %}
                                    <div class="widget widget-posts">
                                    <div class="blog-box">
                                        <h2 class="widget-title">LATEST POST</h2>
                                        <ul class="recent-posts clearfix">
                                            <li>
                                                <div class="thumb item-thumbnail">
                                                    <a href="#">
                                                        <img src="{% static 'images/blog/widget/1.jpg' %}" alt="image">
                                                        <div class="thumbnail-hoverlay main-color-1-bg"></div>
                                                        <div class="thumbnail-hoverlay-cross"></div>
                                                    </a>
                                                </div>
                                                <div class="text">
                                                    <a href="#">Your Career Starts Here</a>
                                                    <p>JUNE 3, 2014</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="thumb item-thumbnail">
                                                    <a href="#">
                                                        <img src="{% static 'images/blog/widget/2.jpg' %}" alt="image">
                                                        <div class="thumbnail-hoverlay main-color-1-bg"></div>
                                                        <div class="thumbnail-hoverlay-cross"></div>
                                                    </a>
                                                </div>
                                                <div class="text">
                                                    <a href="#">Spark Of Genius</a>
                                                    <p>JUNE 3, 2014</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="thumb item-thumbnail">
                                                    <a href="#">
                                                        <img src="{% static 'images/blog/widget/3.jpg' %}" alt="image">
                                                        <div class="thumbnail-hoverlay main-color-1-bg"></div>
                                                        <div class="thumbnail-hoverlay-cross"></div>
                                                    </a>
                                                </div>
                                                <div class="text">
                                                    <a href="#">University Ranking</a>
                                                    <p>MAY 29, 2014</p>
                                                </div>
                                            </li>
                                        </ul><!-- /popular-news clearfix -->
                                    </div>
                                </div><!-- /widget-posts -->
                                {% endblock %}

                                {% block course_list %}
                                    <div class="widget widget-courses">
                                    <h2 class="widget-title">COURSES LIST</h2>
                                    <ul class="recent-posts clearfix">
                                        <li>
                                            <div class="thumb item-thumbnail">
                                                <a href="#">
                                                    <img src="{% static 'images/blog/widget/4.jpg' %}" alt="image">
                                                    <div class="thumbnail-hoverlay main-color-1-bg"></div>
                                                    <div class="thumbnail-hoverlay-cross"></div>
                                                </a>
                                            </div>
                                            <div class="text">
                                                <a href="#">Chemical Engineering</a>
                                                <p>DECEMBER 25, 2015</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="thumb item-thumbnail">
                                                <a href="#">
                                                    <img src="{% static 'images/blog/widget/5.jpg' %}" alt="image">
                                                    <div class="thumbnail-hoverlay main-color-1-bg"></div>
                                                    <div class="thumbnail-hoverlay-cross"></div>
                                                </a>
                                            </div>
                                            <div class="text">
                                                <a href="#">Information System</a>
                                                <p>MARCH 11, 2015</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="thumb item-thumbnail">
                                                <a href="#">
                                                    <img src="{% static 'images/blog/widget/6.jpg' %}" alt="image">
                                                    <div class="thumbnail-hoverlay main-color-1-bg"></div>
                                                    <div class="thumbnail-hoverlay-cross"></div>
                                                </a>
                                            </div>
                                            <div class="text">
                                                <a href="#">Work-Life Balance</a>
                                                <p>AUGUST 21, 2015</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="thumb item-thumbnail">
                                                <a href="#">
                                                    <img src="{% static 'images/blog/widget/7.jpg' %}" alt="image">
                                                    <div class="thumbnail-hoverlay main-color-1-bg"></div>
                                                    <div class="thumbnail-hoverlay-cross"></div>
                                                </a>
                                            </div>
                                            <div class="text">
                                                <a href="#">The Theory Of Sport</a>
                                                <p>OCTOBER 31, 2015</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="thumb item-thumbnail">
                                                <a href="#">
                                                    <img src="{% static 'images/blog/widget/8.jpg' %}" alt="image">
                                                    <div class="thumbnail-hoverlay main-color-1-bg"></div>
                                                    <div class="thumbnail-hoverlay-cross"></div>
                                                </a>
                                            </div>
                                            <div class="text">
                                                <a href="#">Bachelor Of Nursing</a>
                                                <p>JULY 24, 2015</p>
                                            </div>
                                        </li>
                                    </ul><!-- /popular-news clearfix -->
                                </div><!-- /widget-posts -->
                                {% endblock %}

                            </div><!-- sidebar -->
                        </div><!-- /col-md-3 -->
                        {% endblock %}
                    </div>
                </div>
                </div>
            </div>
        </section>
{% endblock %}
